body {
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

/* main counter */
h1 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* previous entries */
h2 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    background-color: lightblue;
    border: 0px;
    padding: 12px 22px;

}

button:hover {
    color: #FFFFFF;
    background-color: rgb(63, 45, 63);
    border: 0px
}